<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#D18181">
    <meta name="msapplication-navbutton-color" content="#D18181">
    <meta name="apple-mobile-web-app-status-bar-style" content="#D18181">
    <title>Mini E-Commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/8.0.0/sanitize.min.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.0/src/httpVueLoader.min.js"></script>
  </head>
  <body>
    <div id="app">

      <Bar></Bar>

      <main class="main">
        <router-view></router-view>

          <div class="" v-show="!hasUser">
            <form @submit="login">
              <input
                id="email"
                v-model="form_login.email"
                type="email"
                placeholder="email"
                required>
              <input
                id="senha"
                v-model="form_login.senha"
                type="password"
                placeholder="senha"
                required>
              <input
                type="submit"
                value="entrar">
            </form>
            <form @submit="cadastrar">
              <input
                id="email2"
                v-model="form_login.email"
                type="email"
                placeholder="email"
                required>
              <input
                id="senha2"
                v-model="form_login.senha"
                type="password"
                placeholder="senha"
                required>
              <input
                id="conf_senha"
                v-model="form_login.conf_senha"
                type="password"
                placeholder="confirmar senha"
                required>
              <input
                type="submit"
                value="cadastrar">
            </form>
          </div>
          <div v-show="hasUser">
            <p class="bemvindo">usuário: {{email}}</p>
            <button id="logout" @click="logout">sair</button>
          </div>

      </main>

      <Foo></Foo>

    </div>
    <script src="components.js"></script>
    <script src="router.js"></script>
    <script src="main.js"></script>
  </body>
</html>
